.btn {
	cursor: pointer;
	letter-spacing: 0.3px;
	font-size: 14px;
	font-weight: bold;
	border-style: none;
	border-width: 0;
	padding-top: .5rem;
	padding-bottom: .5rem;
	height: 55px;
	padding-left: 2rem;
	padding-right: 2rem;
}
