.queriesContainer {
	width: 10%;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	text-align: center;
	.heading {
		font-size: 24px;
	}
	.queryContainer {
		display: flex;
		p {
			cursor: pointer;
		}
		button {
			background: transparent;
			border: none;
			cursor: pointer;
		}
	}
}
