$error: #e93000;
$warning: #ffb725;
$black: #000000;
$white: #ffffff;

$primary1: #f2f2f2;
$primary2: #231f20;
$primary3: #1c30cd;

$secondary1: #4f576c;
$secondary2: #3c4252;
$secondary3: #303441;

$grey1: #f8f8f8;
$grey2: #d2d2d2;
$grey3: #888888;
$grey4: #5d5d5d;
$grey7: #343741;
$grey5: #2e2e2e;
$grey6: #222222;
