@font-face {
	font-family: 'Libre Baskerville';
	font-weight: 400;
	font-style: normal;
	src: url('../../assets/fonts/Libre/LibreBaskerville-Regular.ttf');
}

@font-face {
	font-family: 'Libre Baskerville';
	font-weight: 400;
	font-style: italic;
	src: url('../../assets/fonts/Libre/LibreBaskerville-Italic.ttf');
}

@font-face {
	font-family: 'Libre Baskerville';
	font-weight: 700;
	font-style: normal;
	src: url('../../assets/fonts/Libre/LibreBaskerville-Bold.ttf');
}
